<ul class="nav navbar-nav navbar-right">
  <li><%= link_to 'Link', '#' %></li>
  <li class="dropdown">
    <%= link_to 'Dropdown', href: "index#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
      Dropdown<span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to 'Action', '#' %></li>
      <li><%= link_to 'Another action', '#' %></li>
      <li><%= link_to 'Something else here', '#' %></li>
      <li class="divider"></li>
      <li><%= link_to 'Separated link', '#' %></li>
      <li class="divider"></li>
      <li><%= link_to 'One more separated link', '#' %></li>
    </ul>
  </li>
</ul>