<p id="notice"><%= notice %></p>

<h1>Article Posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @article_posts.each do |article_post| %>
      <tr>
        <td><%= link_to 'Show', article_post %></td>
        <td><%= link_to 'Edit', edit_article_post_path(article_post) %></td>
        <td><%= link_to 'Destroy', article_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article Post', new_article_post_path %>
